html,
body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Not the best way to do this.*/
.tag.resource-active {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  color: #2d8bff;
}

.tag.resource-inactive {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  color: orange;
}

.tag.resource-completed {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  color: #2dde2d;
}


